.project {
    width: 100%;
    display: flex;
    max-width: 640px;
    margin: 2rem auto;
    border-radius: 1rem;
    padding: 2rem 0.5rem;
    justify-content: center;
    background-color: var(--project-color);
    box-shadow: 0px 0px 20px 0px rgba(190, 190, 190, 1);
}

.project-link {
    color: var(--text-color);
}

.project-link:hover {
    text-decoration: underline;
}

.project > *,
.project img {
    width: 100%;
    max-width: 600px;
}

.project main {
    margin-top: 0.5rem;
}

.project h1 {
    margin-bottom: 1rem;
}

.project img {
    border-radius: 0.25rem;
    border: 1px solid rgba(220, 221, 225, 1);
}
