/*
    white-theme : 
    text_nav_or_critical - 333333
    text - f8f8f8
    background - dfdfdf
    borders - 555555
    nav-background eeeeee
*/

:root {
    --navbar-brand-color: #2f3640;
    --nav-link-color: #0984e3;
    --project-color: #f5f6fa;
    --bg-nav-color: #f1f2f6;
    --icon-hover: #485460;
    --text-color: #636e72;
    --bg-color: #f1f2f6;
    --success: #4cd137;
    --danger: #ea2027;
    --icon: #1e272e;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.post-space {
    width: 100%;
    max-width: 992px;
}

.content-space {
    width: 100%;
    max-width: 1140px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
